@charset "UTF-8";

body { 
    margin:0;
}

/* μ¤λ§νΈν° */
@media (max-width:480px){
    .far .fa-compass .fa-2x{
        width: 5px;
        height: 5px;
    }
    .insta__header{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        margin:0px;
        height: 70px;
    
    }
    
    .insta__logo{
        
     
    }
    
    .insta__selbox{
       
    }
    
    .insta__item{
        display: flex;
    }
    
    .item__compass,
    .item__heart,
    .item__user{
     
    }
    
    
    a{
        text-decoration: none;
    }
    
    a:link, a:visited, a:hover{
        color: black;
    }
}