@charset "UTF-8";

body { 
    margin:0;
}

/* 태블릿 */
@media (max-width:768px){
    .insta__header{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        padding-top: 20px;
        margin:0px;
        height: 70px;
    
    }
    
    .insta__logo{
      
    }
    
    .insta__selbox{
        padding-top: 20px;
       
    }
    
    .insta__item{
        display: flex;
    }
    
    .item__compass,
    .item__heart,
    .item__user{
        padding-top:10px;
      
    }
    
    
    a{
        text-decoration: none;
    }
    
    a:link, a:visited, a:hover{
        color: black;
    }
}