@charset "UTF-8";

body{
    margin: 0;
}

.logo{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: 15px;

}

.logo i{
    font-size: 20px;
}
.logo span{
    border: 1px solid rgba(248, 248, 248, 0.7 );
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.menu{
    display:inline-block;
    max-width: 250px;
    margin: 0, auto;
    text-align: center;
    padding: 10px;

}

.menu img{
    border-radius: 50%;
    width: 200px;
    height: auto;
}


