@charset "UTF-8";

body{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

.kakao__header{
    display: block;
    width:100%;
    background-color: #d5d5d5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header__menu{
    display: -webkit-flex;
    justify-content: space-between;
    width:100%;
    height: 80px;

}

.menu__edit,
.menu__chat,
.menu__setting{
    color: white;
    margin: 0,auto;
    padding-top: 25px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
}

.menu__edit,
.menu__setting{
    padding-left: 40px;
    padding-right: 48px;
}

.menu__setting{
    padding-top: 30px;
}

.kakao__search{
    display: block;
    text-align: center;
    padding-bottom: 15px;
}

.kakao__search input{
    width: 93%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.kakao__chat{
    display: block;
    box-sizing: border-box;
    padding: 15px;
}

.chat__list{
    display: flex;
}

.list__user{
    display: block;
    width: 10%;
    height: auto;
    padding-top: 10px;
}

.user__photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

.list__room{
    display: block;
    width:80%;
    height: auto;
    padding-bottom: 20px;
}

.room__title{
    display: block;
    font-size: 50px;
    font-weight: bold;
    
}

.room__content{
    display: block;
    font-size: 25px;
    
}

.room__title,
.room__content{
    padding-left: 30px;
    padding-right: 30px;
}

.list__time{
    display: block;
    width: 10%;
    height: auto;
    padding-top: 15px;
}


.room__date{
    font-size: 15px;
} 



.kakao__footer{
    display: block;
    width:100%;
    background-color: #f5f5f5;
}

.footer__nav{
    display: -webkit-flex;
    justify-content: space-between;
    height: 120px;
}

.nav__friends,
.nav__chats,
.nav__channels,
.nav__more{
    display: block;
    color: #a9a9a9;
    padding: 25px;
    font-size: 50px;
    margin: 0, auto;
}

.nav__friends{
    padding-left: 50px;
}
.nav__chats{
    color: black;
}
.nav__more{
    padding-right: 50px;
}

.nav__font{
    font-size: 15px;
    text-align: center;
    padding: 10px
}
#friends{
    margin-left: -2px;
}
#chat{
    margin:0, auto;
    font-weight: bold;
}
#channels{
    margin-left: 4px;
}
#more{
    margin-left:-7px
}

